.content-div {    
    flex-grow: 1;
    display: flex !important;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
.logo img{
    width: 12em;
    animation: spin 4s linear;
    animation-iteration-count: infinite;
}
@keyframes spin {
    100% {transform: rotate(360deg)}
}
